In [12]:
import pandas as pd
import numpy as np
from glob import glob
import os

HOME_DIR = "/home/jovyan"
DATA_DIR = os.path.join(HOME_DIR, "arc-sg/data")
OUTPUT_DIR = os.path.join(HOME_DIR, "arc-sg/outputs")

## Collate 5 years of lab data
Rerun as files are added in batches (space issues)

In [47]:
def aggregate_csvs(input_dir, curr_df = pd.DataFrame(), usecols=[]):
    files = glob(input_dir)
    df_list = []
    df_list = [pd.read_csv(file, usecols=usecols) for file in files]
    df_all  = pd.concat([curr_df, *df_list], ignore_index=True)
    return df_all

In [45]:
input_dir = os.path.join(DATA_DIR, "SGH 2015-2022", "*.csv")
usecols = ['Patient ID','Gender', 'Date of Birth','Specimen Received Date', 'Lab Resulted Order Test Description','Result Value' ]
labs_df = pd.DataFrame()

In [62]:
labs_df = aggregate_csvs(os.path.join(DATA_DIR, "SGH 2015-2022", "*.csv"), labs_df, usecols)

In [64]:
labs_path = os.path.join(OUTPUT_DIR, "labs_2015-2022.pkl")
labs_df.to_pickle(labs_path)

In [65]:
labs_df

,Patient ID,Gender,Date of Birth,Specimen Received Date,Lab Resulted Order Test Description,Result Value
0,7f7a4ad5417e81870f61,FEMALE,1948-05-01,2015-11-07,CA 19-9,120
1,7f7a4ad5417e81870f61,FEMALE,1948-05-01,2015-11-07,BICARBONATE,22.6
2,7f7a4ad5417e81870f61,FEMALE,1948-05-01,2015-11-07,CHLORIDE,101
3,7f7a4ad5417e81870f61,FEMALE,1948-05-01,2015-11-07,CREATININE,61
4,7f7a4ad5417e81870f61,FEMALE,1948-05-01,2015-11-07,GLUCOSE,7.6
...,...,...,...,...,...,...
42295993,7a8e18da55a32ca69917,FEMALE,1928-01-01,2022-09-30,GLUCOSE,8.4
42295994,7a8e18da55a32ca69917,FEMALE,1928-01-01,2022-09-30,POTASSIUM,4.0
42295995,7a8e18da55a32ca69917,FEMALE,1928-01-01,2022-09-30,SODIUM,130
42295996,7a8e18da55a32ca69917,FEMALE,1928-01-01,2022-09-30,UREA,9.9
42295997,7a8e18da55a32ca69917,FEMALE,1928-01-01,2022-09-30,"GLUCOSE,POCT",5.6

## Load and filter diagnosis data

In [ ]:
diag_df = aggregate_csvs(os.path.join(HOME_DIR, "elpha-data/diagnosis", "*.csv"), labs_df, usecols)