In [2]:
import sys
import pandas as pd
import numpy as np
from glob import glob
import os
from types import SimpleNamespace

REPO_DIR = os.path.abspath("..")
sys.path.append(REPO_DIR)

import utils.data_utils as data_utils
import utils.PATHS as PATHS

In [3]:
LAB_FIELDS = SimpleNamespace(**data_utils.LAB_FIELDS)
DIAG_FIELDS = SimpleNamespace(**data_utils.DIAG_FIELDS)

In [ ]:
'''FIELD = {
    "ID": "Patient ID",
    "RACE": "Race",
    "DOB": "Date of Birth",
    "Nationality": "Nationality",
    "INSTITUTION": "Institution Code",
    "TEST_NAME": "Lab Resulted Order Test Description",
    "RESULT": "Result Value",
    "DATE": "Specimen Received Date" # "Specimen Collection Date",
}
HOME_DIR = "/home/jovyan"
DATA_DIR = os.path.join(HOME_DIR, "arc-sg/data")
OUTPUT_DIR = os.path.join(HOME_DIR, "arc-sg/outputs")
def aggregate_csvs(input_dir, curr_df = pd.DataFrame(), usecols=None):
    files = glob(input_dir)
    df_list = []
    if usecols:
        df_list = [pd.read_csv(file,engine='python',error_bad_lines=False, usecols=usecols) for file in files]
    else: 
        df_list = [pd.read_csv(file) for file in files]
    df_all  = pd.concat([curr_df, *df_list], ignore_index=True)
    return df_all

input_dir = os.path.join(DATA_DIR, "SGH 2015-2022", "*.csv")
usecols = ['Patient ID','Gender', 'Date of Birth','Specimen Received Date', 'Lab Resulted Order Test Description','Result Value' ] # temporarily
# usecols = FIELD.values()
labs_df = pd.DataFrame()

labs_df = aggregate_csvs(os.path.join(DATA_DIR, "SGH 2015-2022", "*.csv"), labs_df, usecols)
labs_df'''

In [4]:
labs_df = pd.read_csv(os.path.join(PATHS.OUTPUT_DIR, "labs_master.csv"))
labs_df

,Unnamed: 0,Institution Code,Patient ID,Race,Date of Birth,Nationality,Specimen Received Date,Lab Resulted Order Test Description,Result Value
0,0,SGH,e01cba745894ac232087,Chinese,1948-10-01,Malaysian,2022-04-29,APTT,28.5
1,1,SGH,e01cba745894ac232087,Chinese,1948-10-01,Malaysian,2022-04-29,APTT,NaN
2,2,SGH,e01cba745894ac232087,Chinese,1948-10-01,Malaysian,2022-04-29,"GLUCOSE,POCT",13.2
3,3,SGH,e01cba745894ac232087,Chinese,1948-10-01,Malaysian,2022-04-29,"GLUCOSE,POCT",13.3
4,4,SGH,e01cba745894ac232087,Chinese,1948-10-01,Malaysian,2022-04-29,"GLUCOSE,POCT",14.7
...,...,...,...,...,...,...,...,...,...
23615791,23615791,SGH,0766bf16627bf6ac7d84,Chinese,1932-01-01,Singapore Citizen,2019-10-24,"PROTEIN,TOTAL",58
23615792,23615792,SGH,0766bf16627bf6ac7d84,Chinese,1932-01-01,Singapore Citizen,2019-10-24,"LACTATE,PLASMA",1.2
23615793,23615793,SGH,0766bf16627bf6ac7d84,Chinese,1932-01-01,Singapore Citizen,2019-10-24,FERRITIN,261
23615794,23615794,SGH,0766bf16627bf6ac7d84,Chinese,1932-01-01,Singapore Citizen,2019-10-24,IRON,2
23615795,236,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
# Load data
diag_df = pd.read_pickle(os.path.join(PATHS.OUTPUT_DIR, "diag_df.pkl"))
diag_df

,Diagnosis Code (ICD10),Diagnosis Date,Institution Code,Patient ID,Gender,Race,Nationality,Date of Birth
0,1130600,2018-05-03,CGH,f8242fbd93082a558186,MALE,Chinese,Singapore Citizen,1956-02-01
1,1171800,2018-01-13,CGH,4aa94e796c55ccd46823,FEMALE,Chinese,Singapore Citizen,1947-12-01
2,1171800,2018-01-29,CGH,f6e6d2cd9c5f063a7a0e,MALE,Chinese,Singapore Citizen,1966-04-01
3,1171800,2018-01-31,CGH,e57b551545f95a6bb04b,FEMALE,Chinese,Singapore Citizen,1931-01-01
4,1171800,2018-02-02,CGH,445b537ba35ed96e42da,MALE,Chinese,Singapore Citizen,1939-06-01
...,...,...,...,...,...,...,...,...
19410596,Z992,2018-01-09,SGH,cdbe4226729811af8a39,MALE,Chinese,Singapore Citizen,1949-09-01
19410597,Z992,2018-01-17,SGH,f5eda18b809934c779f9,MALE,Chinese,Singapore Citizen,1948-07-01
19410598,Z992,2018-02-01,SGH,2ad9f51b21f89b0b489a,MALE,Chinese,Singapore Citizen,1944-11-01
19410599,Z992,2018-03-13,SGH,f2e58a742a66ab954057,FEMALE,Chinese,Singapore Citizen,1960-04-01
19410600,Z992,2018-08-30,SGH,54d673f348e2a5de155c,MALE,Chinese,Singapore Citizen,1963-02-01

In [ ]:
## Filter lab df by relevant tests, convert units (reduce size of df and standardise lab df format for function below)

In [ ]:
## Filter diagnosis df by relevant patients, relevant cancer diagnoses, and DM diagnoses (to reduce size of df)

In [ ]:
## Create function that takes in lab_df (w test type col according to slides), diagnoses_df
# use LAB_FIELDS and DIAG_FIELDS name space so the new col names are easily mappable
# function should 
    # get 1st dm dx dt and 1st cancer dx dt per patient and put into a window df
    # merge lab df with window df and filter by window (is a vectorised operation)
    # groupby patient id and test and agg result and date list, then flatten to one row per patinet

In [7]:
LAB_FIELDS.ID

'Patient ID'

# Lab test exploration

In [8]:
glucose_mask = labs_df[data_utils.LAB_FIELDS["TEST_NAME"]].str.contains("glucose", case=False, na=False) & labs_df[data_utils.LAB_FIELDS["TEST_NAME"]].str.contains("fasting", case=False, na=False)

In [9]:
ldl_mask = labs_df[data_utils.LAB_FIELDS["TEST_NAME"]].str.contains("ldl", case=False, na=False) #

In [10]:
fasting_glucose = labs_df[glucose_mask]

In [11]:
fasting_glucose[data_utils.LAB_FIELDS["TEST_NAME"]].unique()

array(['GLUCOSE,PLASMA FASTING', 'GLUCOSE FASTING'], dtype=object)

In [12]:
ldl = labs_df[ldl_mask]

In [13]:
ldl[data_utils.LAB_FIELDS["TEST_NAME"]].unique()

array(['LDL-CHOLESTEROL,CALCULATED', 'CHOLESTEROL,TG,HDL,LDL',
       'LDL-CHOLESTEROL,DIRECT'], dtype=object)

# Lab test filtering

In [17]:
glucose_mask = labs_df[data_utils.LAB_FIELDS["TEST_NAME"]].str.contains("glucose", case=False, na=False) & labs_df[data_utils.LAB_FIELDS["TEST_NAME"]].str.contains("fasting", case=False, na=False)
other_tests_mask = labs_df[data_utils.LAB_FIELDS["TEST_NAME"]].str.contains('HBA1C|TRIGLYCERIDES|LDL-CHOLESTEROL,CALCULATED|LDL-CHOLESTEROL,DIRECT', case=False, na=False)

In [18]:
filtered_labs_df = labs_df
filtered_labs_df['Lab Resulted Order Test Description'] = labs_df['Lab Resulted Order Test Description'].str.replace('GLUCOSE,PLASMA FASTING', 'GLUCOSE FASTING', case=False, regex=True)
filtered_labs_df = filtered_labs_df[filtered_labs_df['Lab Resulted Order Test Description'].str.contains('HBA1C|TRIGLYCERIDES|LDL-CHOLESTEROL,CALCULATED|LDL-CHOLESTEROL,DIRECT|GLUCOSE FASTING', case=False, na=False)]

In [19]:
##converting all LDL labels to LAD-CHOLESTEROL
filtered_labs_df['Lab Resulted Order Test Description'] = filtered_labs_df['Lab Resulted Order Test Description'].str.replace('LDL-CHOLESTEROL,CALCULATED|LDL-CHOLESTEROL,DIRECT', 'LDL-CHOLESTEROL', case=False,regex=True)
filtered_labs_df

/tmp/ipykernel_4828/2906201204.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_labs_df['Lab Resulted Order Test Description'] = filtered_labs_df['Lab Resulted Order Test Description'].str.replace('LDL-CHOLESTEROL,CALCULATED|LDL-CHOLESTEROL,DIRECT', 'LDL-CHOLESTEROL', case=False,regex=True)

,Unnamed: 0,Institution Code,Patient ID,Race,Date of Birth,Nationality,Specimen Received Date,Lab Resulted Order Test Description,Result Value
260,260,SGH,5ba30677eb2e5c1c92aa,Chinese,1957-02-01,Malaysian,2022-04-09,HBA1C,12.8
261,261,SGH,5ba30677eb2e5c1c92aa,Chinese,1957-02-01,Malaysian,2022-04-09,HBA1C IFCC,116
265,265,SGH,5ba30677eb2e5c1c92aa,Chinese,1957-02-01,Malaysian,2022-04-09,LDL-CHOLESTEROL,3.80
266,266,SGH,5ba30677eb2e5c1c92aa,Chinese,1957-02-01,Malaysian,2022-04-09,TRIGLYCERIDES,1.54
811,811,SGH,120e019820ccdb186e38,Malay,1961-03-01,Malaysian,2022-03-18,HBA1C,5.8
...,...,...,...,...,...,...,...,...,...
23612980,23612980,SGH,3ca221647b0fa03bb51d,Chinese,1948-07-01,Singapore Citizen,2019-10-23,HBA1C,5.9
23612990,23612990,SGH,3ca221647b0fa03bb51d,Chinese,1948-07-01,Singapore Citizen,2019-10-23,LDL-CHOLESTEROL,2.46
23612991,23612991,SGH,3ca221647b0fa03bb51d,Chinese,1948-07-01,Singapore Citizen,2019-10-23,TRIGLYCERIDES,1.07
23615613,23615613,SGH,54f3de0ddf8cc652f05f,Chinese,1934-01-01,Singapore Citizen,2019-10-24,HBA1C,6.4
23615784,23615784,SGH,0766bf16627bf6ac7d84,Chinese,1932-01-01,Singapore Citizen,2019-10-24,HBA1C,5.0

In [20]:
filtered_labs_df.to_csv(os.path.join(PATHS.OUTPUT_DIR, "filtered_labs.csv"), index=False)

In [21]:
filtered_labs_df['Lab Resulted Order Test Description'].unique

<bound method Series.unique of 260                   HBA1C
261              HBA1C IFCC
265         LDL-CHOLESTEROL
266           TRIGLYCERIDES
811                   HBA1C
                 ...
23612980              HBA1C
23612990    LDL-CHOLESTEROL
23612991      TRIGLYCERIDES
23615613              HBA1C
23615784              HBA1C
Name: Lab Resulted Order Test Description, Length: 135904, dtype: object>

# Finalising HbA1C and Triglyceride data

In [22]:
filtered_labs_df[data_utils.LAB_FIELDS["DATE"]] = pd.to_datetime(filtered_labs_df[data_utils.LAB_FIELDS["DATE"]])

/tmp/ipykernel_4828/3209323937.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_labs_df[data_utils.LAB_FIELDS["DATE"]] = pd.to_datetime(filtered_labs_df[data_utils.LAB_FIELDS["DATE"]])

In [23]:
filtered_labs_df = filtered_labs_df[~filtered_labs_df['Lab Resulted Order Test Description'].str.contains('TRIGLYCERIDES,FLUID | TRIGLYCERIDES,URINE', case=False, na=False)]

In [24]:
filtered_labs_df['Lab Resulted Order Test Description'].unique()

array(['HBA1C', 'HBA1C IFCC', 'LDL-CHOLESTEROL', 'TRIGLYCERIDES',
       'GLUCOSE FASTING', 'HBA1c, blood (dual reporting)',
       'TRIGLYCERIDES,FLUID', 'TRIGLYCERIDES,URINE'], dtype=object)

# Convert HbA1C IFCC values into percentage values

In [25]:
filtered_labs_df['Result Value']=pd.to_numeric(filtered_labs_df['Result Value'], errors='coerce')
for index, value in filtered_labs_df['Lab Resulted Order Test Description'].items():
    if value == 'HBA1C IFCC':
        filtered_labs_df.at[index, 'Result Value'] = 0.09148* filtered_labs_df.at[index, 'Result Value']+ 2.152
        filtered_labs_df.at[index, 'Lab Resulted Order Test Description'] = 'HBA1C'
        
filtered_labs_df

,Unnamed: 0,Institution Code,Patient ID,Race,Date of Birth,Nationality,Specimen Received Date,Lab Resulted Order Test Description,Result Value
260,260,SGH,5ba30677eb2e5c1c92aa,Chinese,1957-02-01,Malaysian,2022-04-09,HBA1C,12.80000
261,261,SGH,5ba30677eb2e5c1c92aa,Chinese,1957-02-01,Malaysian,2022-04-09,HBA1C,12.76368
265,265,SGH,5ba30677eb2e5c1c92aa,Chinese,1957-02-01,Malaysian,2022-04-09,LDL-CHOLESTEROL,3.80000
266,266,SGH,5ba30677eb2e5c1c92aa,Chinese,1957-02-01,Malaysian,2022-04-09,TRIGLYCERIDES,1.54000
811,811,SGH,120e019820ccdb186e38,Malay,1961-03-01,Malaysian,2022-03-18,HBA1C,5.80000
...,...,...,...,...,...,...,...,...,...
23612980,23612980,SGH,3ca221647b0fa03bb51d,Chinese,1948-07-01,Singapore Citizen,2019-10-23,HBA1C,5.90000
23612990,23612990,SGH,3ca221647b0fa03bb51d,Chinese,1948-07-01,Singapore Citizen,2019-10-23,LDL-CHOLESTEROL,2.46000
23612991,23612991,SGH,3ca221647b0fa03bb51d,Chinese,1948-07-01,Singapore Citizen,2019-10-23,TRIGLYCERIDES,1.07000
23615613,23615613,SGH,54f3de0ddf8cc652f05f,Chinese,1934-01-01,Singapore Citizen,2019-10-24,HBA1C,6.40000
23615784,23615784,SGH,0766bf16627bf6ac7d84,Chinese,1932-01-01,Singapore Citizen,2019-10-24,HBA1C,5.00000

In [26]:
dff = filtered_labs_df[filtered_labs_df['Lab Resulted Order Test Description']=='HBA1c, blood (dual reporting)']
dff

,Unnamed: 0,Institution Code,Patient ID,Race,Date of Birth,Nationality,Specimen Received Date,Lab Resulted Order Test Description,Result Value
35933,35933,SGH,922048da629b1e918013,Chinese,1954-10-01,Singapore Citizen,2022-04-05,"HBA1c, blood (dual reporting)",NaN
147566,147566,SGH,b0817fd8e8386eb21f44,Indian,1947-03-01,Singapore Citizen,2022-04-30,"HBA1c, blood (dual reporting)",NaN
155367,155367,SGH,d325cec36bab6009b69d,Chinese,1946-07-01,Singapore Citizen,2022-04-27,"HBA1c, blood (dual reporting)",NaN
212088,212088,SGH,b6d6419ac6ae19f5b341,Chinese,1948-07-01,Singapore Citizen,2022-04-18,"HBA1c, blood (dual reporting)",NaN
346241,346241,SGH,afdc140be004815ca986,Chinese,1955-07-01,Singapore Citizen,2022-04-29,"HBA1c, blood (dual reporting)",NaN
...,...,...,...,...,...,...,...,...,...
23300972,23300972,SGH,daf9e1a35c608a457079,Chinese,1941-06-01,Singapore Citizen,2020-03-20,"HBA1c, blood (dual reporting)",NaN
23357084,23357084,SGH,6c3d51901b8535223eff,Chinese,1971-12-01,Singapore Citizen,2020-03-24,"HBA1c, blood (dual reporting)",NaN
23407597,23407597,SGH,652e6d2fee68300fa304,Indian,1986-11-01,Singapore Citizen,2020-03-05,"HBA1c, blood (dual reporting)",NaN
23446561,23446561,SGH,0de8dff112f5065c147b,Chinese,1959-09-01,Chinese,2020-03-17,"HBA1c, blood (dual reporting)",NaN
23451717,23451717,SGH,afcf27b7204ea4869f7b,Indian,1970-11-01,Others,2020-03-31,"HBA1c, blood (dual reporting)",NaN

# Drop rows with 'TRIGLYCERIDES,FLUID', 'TRIGLYCERIDES,URINE', 'HBA1c, blood (dual reporting)''

In [27]:
filtered_labs_df = filtered_labs_df[~filtered_labs_df['Lab Resulted Order Test Description'].isin (['TRIGLYCERIDES,FLUID' , 'TRIGLYCERIDES,URINE', 'HBA1c, blood (dual reporting)'])]
filtered_labs_df

,Unnamed: 0,Institution Code,Patient ID,Race,Date of Birth,Nationality,Specimen Received Date,Lab Resulted Order Test Description,Result Value
260,260,SGH,5ba30677eb2e5c1c92aa,Chinese,1957-02-01,Malaysian,2022-04-09,HBA1C,12.80000
261,261,SGH,5ba30677eb2e5c1c92aa,Chinese,1957-02-01,Malaysian,2022-04-09,HBA1C,12.76368
265,265,SGH,5ba30677eb2e5c1c92aa,Chinese,1957-02-01,Malaysian,2022-04-09,LDL-CHOLESTEROL,3.80000
266,266,SGH,5ba30677eb2e5c1c92aa,Chinese,1957-02-01,Malaysian,2022-04-09,TRIGLYCERIDES,1.54000
811,811,SGH,120e019820ccdb186e38,Malay,1961-03-01,Malaysian,2022-03-18,HBA1C,5.80000
...,...,...,...,...,...,...,...,...,...
23612980,23612980,SGH,3ca221647b0fa03bb51d,Chinese,1948-07-01,Singapore Citizen,2019-10-23,HBA1C,5.90000
23612990,23612990,SGH,3ca221647b0fa03bb51d,Chinese,1948-07-01,Singapore Citizen,2019-10-23,LDL-CHOLESTEROL,2.46000
23612991,23612991,SGH,3ca221647b0fa03bb51d,Chinese,1948-07-01,Singapore Citizen,2019-10-23,TRIGLYCERIDES,1.07000
23615613,23615613,SGH,54f3de0ddf8cc652f05f,Chinese,1934-01-01,Singapore Citizen,2019-10-24,HBA1C,6.40000
23615784,23615784,SGH,0766bf16627bf6ac7d84,Chinese,1932-01-01,Singapore Citizen,2019-10-24,HBA1C,5.00000

# Checking for Null values

In [28]:
num_rows_with_nulls = filtered_labs_df[filtered_labs_df.isnull().any(axis=1)]
num_rows_with_nulls

,Unnamed: 0,Institution Code,Patient ID,Race,Date of Birth,Nationality,Specimen Received Date,Lab Resulted Order Test Description,Result Value
15668,15668,SGH,842ad1a949567732f5bb,Bangladeshi,1987-01-01,Bangladeshi,2022-04-15,HBA1C,NaN
15669,15669,SGH,842ad1a949567732f5bb,Bangladeshi,1987-01-01,Bangladeshi,2022-04-15,HBA1C,NaN
151098,151098,SGH,cc436ac3cb2e08e776d6,Chinese,1935-02-01,Singapore Citizen,2022-04-23,GLUCOSE FASTING,NaN
184082,184082,SGH,93d88169afc60243a845,Chinese,1949-05-01,Singapore Citizen,2022-04-05,LDL-CHOLESTEROL,NaN
189625,189625,SGH,07eeb02c2c6a37b3a807,Chinese,1948-05-01,Singapore Citizen,2022-09-09,LDL-CHOLESTEROL,NaN
...,...,...,...,...,...,...,...,...,...
22967468,22967468,SGH,b8a95823ecc4ea0cda59,Chinese,1928-01-01,Singapore Citizen,2020-03-17,GLUCOSE FASTING,NaN
23094816,23094816,SGH,ad841394866100fea791,Chinese,1943-05-01,Singapore Citizen,2020-03-16,HBA1C,NaN
23094817,23094817,SGH,ad841394866100fea791,Chinese,1943-05-01,Singapore Citizen,2020-03-16,HBA1C,NaN
23228638,23228638,SGH,99f14795b87f57a99331,Chinese,1963-10-01,Singapore Citizen,2020-03-06,GLUCOSE FASTING,NaN
23416751,23416751,SGH,f901754728a8f048eddb,Indonesian,1990-10-01,Singapore Citizen,2020-04-01,GLUCOSE FASTING,NaN

In [29]:
filtered_labs_df=filtered_labs_df.dropna()

# Check and drop duplicate rows

In [30]:
duplicates=filtered_labs_df[filtered_labs_df.duplicated()]
duplicates

Empty DataFrame
Columns: [Unnamed: 0, Institution Code, Patient ID, Race, Date of Birth, Nationality, Specimen Received Date, Lab Resulted Order Test Description, Result Value]
Index: []

In [31]:
filtered_labs_df=filtered_labs_df.drop_duplicates()
filtered_labs_df

,Unnamed: 0,Institution Code,Patient ID,Race,Date of Birth,Nationality,Specimen Received Date,Lab Resulted Order Test Description,Result Value
260,260,SGH,5ba30677eb2e5c1c92aa,Chinese,1957-02-01,Malaysian,2022-04-09,HBA1C,12.80000
261,261,SGH,5ba30677eb2e5c1c92aa,Chinese,1957-02-01,Malaysian,2022-04-09,HBA1C,12.76368
265,265,SGH,5ba30677eb2e5c1c92aa,Chinese,1957-02-01,Malaysian,2022-04-09,LDL-CHOLESTEROL,3.80000
266,266,SGH,5ba30677eb2e5c1c92aa,Chinese,1957-02-01,Malaysian,2022-04-09,TRIGLYCERIDES,1.54000
811,811,SGH,120e019820ccdb186e38,Malay,1961-03-01,Malaysian,2022-03-18,HBA1C,5.80000
...,...,...,...,...,...,...,...,...,...
23612980,23612980,SGH,3ca221647b0fa03bb51d,Chinese,1948-07-01,Singapore Citizen,2019-10-23,HBA1C,5.90000
23612990,23612990,SGH,3ca221647b0fa03bb51d,Chinese,1948-07-01,Singapore Citizen,2019-10-23,LDL-CHOLESTEROL,2.46000
23612991,23612991,SGH,3ca221647b0fa03bb51d,Chinese,1948-07-01,Singapore Citizen,2019-10-23,TRIGLYCERIDES,1.07000
23615613,23615613,SGH,54f3de0ddf8cc652f05f,Chinese,1934-01-01,Singapore Citizen,2019-10-24,HBA1C,6.40000
23615784,23615784,SGH,0766bf16627bf6ac7d84,Chinese,1932-01-01,Singapore Citizen,2019-10-24,HBA1C,5.00000

In [32]:
filtered_labs_df['Lab Resulted Order Test Description'].unique()

array(['HBA1C', 'LDL-CHOLESTEROL', 'TRIGLYCERIDES', 'GLUCOSE FASTING'],
      dtype=object)

In [33]:
filtered_labs_df['Lab Resulted Order Test Description'].value_counts()

HBA1C              71353
TRIGLYCERIDES      28915
LDL-CHOLESTEROL    25437
GLUCOSE FASTING     8607
Name: Lab Resulted Order Test Description, dtype: int64

# Diabetus Diagnosis Date - Extraction

In [168]:
ICD_codes = ('E08','E09','E10','E11','E13')


D_diag = diag_df[diag_df['Diagnosis Code (ICD10)'].isin(ICD_codes)]
print(D_diag.shape)
D_diag

(47, 8)

,Diagnosis Code (ICD10),Diagnosis Date,Institution Code,Patient ID,Gender,Race,Nationality,Date of Birth
1588310,E10,2018-10-12,CGH,5cc68cd9cc91a0db3f13,MALE,Chinese,Singapore Citizen,1937-07-01
3137162,E09,2022-12-06,CGH,b1294ae36970fd7bec84,MALE,Indian,Singapore Citizen,1930-06-01
3137163,E09,2022-12-13,CGH,b1294ae36970fd7bec84,MALE,Indian,Singapore Citizen,1930-06-01
3647264,E11,2021-09-01,KKH,530506cdacb38007cfbe,FEMALE,Chinese,Singapore Citizen,1983-07-01
3825490,E10,2021-09-13,KKH,72a92690325bdeb5d92c,FEMALE,Chinese,Singapore Citizen,2017-07-01
4366583,E11,2020-02-25,KKH,7aab4eef4ac5afacebda,FEMALE,Chinese,Singapore Citizen,1965-03-01
4492107,E11,2020-06-09,KKH,61110451e1297c040fbd,FEMALE,Chinese,Singapore Citizen,2007-06-01
5195567,E11,2021-06-08,KKH,8bffc5a9bdd00e1d0cc6,MALE,Indian,Singapore Citizen,2005-11-01
5205340,E11,2021-05-04,KKH,ce6c5c297df65abb9578,FEMALE,Malay,Singapore Citizen,2007-09-01
5213999,E09,2021-04-08,KKH,9b50e8be8f399cf247df,MALE,Other Races,Singapore Citizen,2009-04-01
5226656,E11,2021-02-08,KKH,b5e63728011039273b34,FEMALE,Malay,Singapore Citizen,2011-12-01
6038106,E11,2022-02-18,KKH,188fe3b4c3090da12569,FEMALE,Chinese,Singapore Citizen,2004-10-01
6041010,E10,2022-01-13,KKH,58bd90b45d4aa731b826,FEMALE,Filipino,Singapore Citizen,2005-09-01
6086775,E10,2022-01-12,KKH,c68abf6efd195be21577,MALE,Malay,Singapore Citizen,2013-06-01
6484613,E10,2022-10-22,KKH,65bec3fd46e78ae08f0a,FEMALE,Chinese,Singapore Citizen,2010-07-01
6504758,E10,2022-08-29,KKH,68a358a1e2105214f53a,MALE,Chinese,Singapore Citizen,2013-12-01
9386627,E09,2019-12-06,SGH,4be862eb614c32b2f8e5,FEMALE,Chinese,Singapore Citizen,1954-04-01
9445107,E09,2019-08-14,SGH,15f0093dd98364798aa3,FEMALE,Malay,Malaysian,1972-05-01
9445108,E09,2019-09-09,SGH,15f0093dd98364798aa3,FEMALE,Malay,Malaysian,1972-05-01
9504361,E09,2019-12-11,SGH,adaf3b53acfae3bca82c,FEMALE,Malay,Singapore Citizen,1981-01-01
9758139,E09,2018-12-17,SGH,8683b62f39353034a6b9,MALE,Indian,Singapore Citizen,1949-06-01
10039420,E09,2018-09-12,SGH,f1897c3de434c0073597,MALE,Chinese,Singapore Citizen,1961-09-01
10047710,E09,2018-12-13,SGH,d7d1abc76233a74b95e9,MALE,Chinese,Singapore Citizen,1961-12-01
10444738,E09,2020-06-04,SGH,b595447706f5eeabec7a,FEMALE,Chinese,Singapore Citizen,1951-06-01
10463923,E09,2020-06-02,SGH,ef323f74f43f4422d332,MALE,Chinese,Singapore Citizen,1949-11-01
10475881,E09,2020-01-21,SGH,caba90e6591f40090fd0,MALE,Chinese,Singapore Citizen,1950-10-01
10760091,E09,2020-04-15,SGH,98d60fa9578dbc61a6c9,MALE,Chinese,Singapore Citizen,1957-12-01
11596872,E09,2020-12-22,SGH,98d60fa9578dbc61a6c9,MALE,Chinese,Singapore Citizen,1957-12-01
11698359,E09,2020-09-08,SGH,6fbc22e0aea85d4ef9be,FEMALE,Chinese,Singapore Citizen,1962-11-01
11735642,E09,2020-09-08,SGH,f0cf46f21c9c531b010d,MALE,Chinese,Singapore Citizen,1965-02-01
12175381,E09,2021-05-06,SGH,565ce65ac964b37993dd,MALE,Chinese,Singapore Citizen,1954-12-01
12198535,E09,2021-06-17,SGH,5c451b0481ae394b2a8d,MALE,Chinese,Singapore Citizen,1952-05-01
12623468,E09,2021-06-17,SGH,ea648bc47c1cbeb0682e,FEMALE,Chinese,Singapore Citizen,1962-04-01
14124401,E09,2022-05-23,SGH,99389379463903ba10c9,FEMALE,Malay,Singapore Citizen,1990-05-01
14158862,E09,2022-07-07,SGH,1bad12bc589d3e076223,FEMALE,Chinese,Singapore Citizen,2001-08-01
14588094,E10,2021-11-11,SKH,f231285fbf08bbc33c7f,MALE,Indian,Singapore Citizen,1964-12-01
14836897,E09,2019-03-04,SKH,334b7e59eedf605ff7db,FEMALE,Chinese,Singapore Citizen,1949-11-01
14836898,E09,2019-05-03,SKH,334b7e59eedf605ff7db,FEMALE,Chinese,Singapore Citizen,1949-11-01
14918597,E09,2019-01-23,SKH,66666b7624d7daeaf471,FEMALE,Malay,Singapore Citizen,1962-03-01
15217079,E11,2019-10-17,SKH,547843f2b5abd6e6db70,FEMALE,Chinese,Singapore Citizen,1960-11-01
15800941,E10,2020-03-20,SKH,f6a5b9c50897f49187f6,FEMALE,Chinese,Singapore Citizen,1944-10-01
15894971,E09,2020-06-22,SKH,66a43185173e00f1fa2f,FEMALE,Chinese,Singapore Citizen,1956-07-01
16021790,E09,2020-04-28,SKH,b37f0e547ec554fecb80,MALE,Indian,Singapore Citizen,1981-09-01
16368139,E09,2020-10-05,SKH,4efcc1f4b8d9f3c3f9ea,FEMALE,Malay,Singapore Citizen,1973-11-01
16549340,E11,2017-11-25,CGH,9f0710238e4253fdb8a9,FEMALE,Malay,Singapore Citizen,1955-03-01
18933755,E10,2017-09-21,SGH,4df779078d2fed89d697,FEMALE,Chinese,Singapore Citizen,1949-01-01
18933756,E10,2017-09-27,SGH,ba52624e96998b4ceab8,FEMALE,Chinese,Singapore Citizen,1946-10-01

In [151]:
D_diag["Diagnosis Date"] = pd.to_datetime(D_diag["Diagnosis Date"])
first_D_D = (D_diag.sort_values("Diagnosis Date").groupby("Patient ID", as_index=False).first()[["Patient ID",'Diagnosis Code (ICD10)', 'Diagnosis Date']])
first_D_D

#change the coloumn name
first_D_D.rename(columns={'Diagnosis Date': 'Diabetus_diag_date'}, inplace=True)
first_D_D

/tmp/ipykernel_4828/2137160689.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  D_diag["Diagnosis Date"] = pd.to_datetime(D_diag["Diagnosis Date"])

              Patient ID Diagnosis Code (ICD10) Diabetus_diag_date
0   15f0093dd98364798aa3                    E09         2019-08-14
1   188fe3b4c3090da12569                    E11         2022-02-18
2   1bad12bc589d3e076223                    E09         2022-07-07
3   334b7e59eedf605ff7db                    E09         2019-03-04
4   4be862eb614c32b2f8e5                    E09         2019-12-06
5   4df779078d2fed89d697                    E10         2017-09-21
6   4efcc1f4b8d9f3c3f9ea                    E09         2020-10-05
7   530506cdacb38007cfbe                    E11         2021-09-01
8   547843f2b5abd6e6db70                    E11         2019-10-17
9   565ce65ac964b37993dd                    E09         2021-05-06
10  58bd90b45d4aa731b826                    E10         2022-01-13
11  5c451b0481ae394b2a8d                    E09         2021-06-17
12  5cc68cd9cc91a0db3f13                    E10         2018-10-12
13  61110451e1297c040fbd                    E11         2020-06-09
14  65bec3fd46e78ae08f0a                    E10         2022-10-22
15  66666b7624d7daeaf471                    E09         2019-01-23
16  66a43185173e00f1fa2f                    E09         2020-06-22
17  68a358a1e2105214f53a                    E10         2022-08-29
18  6fbc22e0aea85d4ef9be                    E09         2020-09-08
19  72a92690325bdeb5d92c                    E10         2021-09-13
20  7aab4eef4ac5afacebda                    E11         2020-02-25
21  8683b62f39353034a6b9                    E09         2018-12-17
22  8bffc5a9bdd00e1d0cc6                    E11         2021-06-08
23  98d60fa9578dbc61a6c9                    E09         2020-04-15
24  99389379463903ba10c9                    E09         2022-05-23
25  9b50e8be8f399cf247df                    E09         2021-04-08
26  9f0710238e4253fdb8a9                    E11         2017-11-25
27  adaf3b53acfae3bca82c                    E09         2019-12-11
28  b1294ae36970fd7bec84                    E09         2022-12-06
29  b37f0e547ec554fecb80                    E09         2020-04-28
30  b595447706f5eeabec7a                    E09         2020-06-04
31  b5e63728011039273b34                    E11         2021-02-08
32  ba52624e96998b4ceab8                    E10         2017-09-27
33  c68abf6efd195be21577                    E10         2022-01-12
34  caba90e6591f40090fd0                    E09         2020-01-21
35  ce6c5c297df65abb9578                    E11         2021-05-04
36  d7d1abc76233a74b95e9                    E09         2018-12-13
37  ea648bc47c1cbeb0682e                    E09         2021-06-17
38  ef323f74f43f4422d332                    E09         2020-06-02
39  f0cf46f21c9c531b010d                    E09         2020-09-08
40  f1897c3de434c0073597                    E09         2018-09-12
41  f231285fbf08bbc33c7f                    E10         2021-11-11
42  f6a5b9c50897f49187f6                    E10         2020-03-20

In [161]:
#cancer and Diabetus - merge
diseases_data = pd.merge(filtered_labs_df, first_D_D[['Patient ID','Diabetus_diag_date']], on= 'Patient ID', how='left')
#diseases_data = diseases_data.drop(columns=['date_result'])
diseases_data

,Unnamed: 0,Institution Code,Patient ID,Race,Date of Birth,Nationality,Specimen Received Date,Lab Resulted Order Test Description,Result Value,date_result,Diabetus_diag_date
0,260,SGH,5ba30677eb2e5c1c92aa,Chinese,1957-02-01,Malaysian,2022-04-09,HBA1C,12.80000,"(2022-04-09 00:00:00, 12.8)",NaT
1,261,SGH,5ba30677eb2e5c1c92aa,Chinese,1957-02-01,Malaysian,2022-04-09,HBA1C,12.76368,"(2022-04-09 00:00:00, 12.76368)",NaT
2,265,SGH,5ba30677eb2e5c1c92aa,Chinese,1957-02-01,Malaysian,2022-04-09,LDL-CHOLESTEROL,3.80000,"(2022-04-09 00:00:00, 3.8)",NaT
3,266,SGH,5ba30677eb2e5c1c92aa,Chinese,1957-02-01,Malaysian,2022-04-09,TRIGLYCERIDES,1.54000,"(2022-04-09 00:00:00, 1.54)",NaT
4,811,SGH,120e019820ccdb186e38,Malay,1961-03-01,Malaysian,2022-03-18,HBA1C,5.80000,"(2022-03-18 00:00:00, 5.8)",NaT
...,...,...,...,...,...,...,...,...,...,...,...
134307,23612980,SGH,3ca221647b0fa03bb51d,Chinese,1948-07-01,Singapore Citizen,2019-10-23,HBA1C,5.90000,"(2019-10-23 00:00:00, 5.9)",NaT
134308,23612990,SGH,3ca221647b0fa03bb51d,Chinese,1948-07-01,Singapore Citizen,2019-10-23,LDL-CHOLESTEROL,2.46000,"(2019-10-23 00:00:00, 2.46)",NaT
134309,23612991,SGH,3ca221647b0fa03bb51d,Chinese,1948-07-01,Singapore Citizen,2019-10-23,TRIGLYCERIDES,1.07000,"(2019-10-23 00:00:00, 1.07)",NaT
134310,23615613,SGH,54f3de0ddf8cc652f05f,Chinese,1934-01-01,Singapore Citizen,2019-10-24,HBA1C,6.40000,"(2019-10-24 00:00:00, 6.4)",NaT
134311,23615784,SGH,0766bf16627bf6ac7d84,Chinese,1932-01-01,Singapore Citizen,2019-10-24,HBA1C,5.00000,"(2019-10-24 00:00:00, 5.0)",NaT

# Cancer Data Preprocessing

In [146]:
#Extracting the cancer data
diag_f = diag_df[diag_df["Diagnosis Code (ICD10)"].str.startswith("C",na=False)]
diag_f

,Diagnosis Code (ICD10),Diagnosis Date,Institution Code,Patient ID,Gender,Race,Nationality,Date of Birth
76459,C020,2018-01-24,CGH,073c8ca048088e42549c,MALE,Chinese,Singapore Citizen,1946-03-01
76460,C020,2018-01-30,CGH,073c8ca048088e42549c,MALE,Chinese,Singapore Citizen,1946-03-01
76461,C021,2018-01-12,CGH,f3e2d09b396654f5f981,MALE,Chinese,Singapore Citizen,1967-03-01
76462,C021,2018-01-24,CGH,f3e2d09b396654f5f981,MALE,Chinese,Singapore Citizen,1967-03-01
76463,C021,2018-04-19,CGH,2dc4156710c10dabd5a8,FEMALE,Chinese,Singapore Citizen,1964-03-01
...,...,...,...,...,...,...,...,...
18906761,C967,2017-12-22,SGH,24dc22a2a71746f377e0,MALE,Indian,Malaysian,1990-11-01
18906762,C967,2018-01-12,SGH,eae67ae80d8e2bcc11e8,MALE,Chinese,Singapore Citizen,1956-10-01
18906763,C969,2017-08-24,SGH,ed13803bee168da72b56,MALE,Chinese,Singapore Citizen,1933-01-01
18906764,C969,2017-09-21,SGH,5aea20647e2840b7129b,MALE,Chinese,Singapore Citizen,1964-09-01
18906765,C969,2018-01-03,SGH,1ece0de395aa1adb5f22,MALE,Chinese,Singapore Citizen,1966-10-01

In [147]:
#Finding the first dat of diagnosis
diag_f["Diagnosis Date"] = pd.to_datetime(diag_f["Diagnosis Date"])
first_C_D = (diag_f.sort_values("Diagnosis Date").groupby("Patient ID", as_index=False).first()[["Patient ID", 'Diagnosis Code (ICD10)', 'Diagnosis Date', 'Gender']])
first_C_D

#change the coloumn name
first_C_D.rename(columns={'Diagnosis Date': 'Cancer_diag_date'}, inplace=True)
first_C_D

/tmp/ipykernel_4828/3343619860.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  diag_f["Diagnosis Date"] = pd.to_datetime(diag_f["Diagnosis Date"])

                 Patient ID Diagnosis Code (ICD10) Cancer_diag_date  Gender
0      0000cf7c67ba48cd7ca5                    C56       2017-03-14  FEMALE
1      000138b35d37caefb202                   C252       2020-05-03    MALE
2      0001b1b8dcef571dc800                   C161       2018-02-04    MALE
3      0001ff080dabb2ad6e4e                    C56       2022-09-21  FEMALE
4      00028c438ba6ee7f1cb3                    C56       2022-07-01  FEMALE
...                     ...                    ...              ...     ...
84862  fffdc69ec9e4e8d95613                   C180       2017-11-18  FEMALE
84863  fffef290f7991b1f4268                   C509       2017-09-12  FEMALE
84864  ffff75db405b831b8652                   C343       2019-07-23    MALE
84865  ffffe22027f30ab4e122                   C259       2020-04-06    MALE
84866  fffffc43742d25a59fde                   C541       2018-04-18  FEMALE

[84867 rows x 4 columns]

# Merge - Data with cancer data

In [162]:
diseases_data = pd.merge(diseases_data, first_C_D[['Patient ID','Diagnosis Code (ICD10)','Cancer_diag_date']], on= 'Patient ID', how='left')
diseases_data

,Unnamed: 0,Institution Code,Patient ID,Race,Date of Birth,Nationality,Specimen Received Date,Lab Resulted Order Test Description,Result Value,date_result,Diabetus_diag_date,Diagnosis Code (ICD10),Cancer_diag_date
0,260,SGH,5ba30677eb2e5c1c92aa,Chinese,1957-02-01,Malaysian,2022-04-09,HBA1C,12.80000,"(2022-04-09 00:00:00, 12.8)",NaT,NaN,NaT
1,261,SGH,5ba30677eb2e5c1c92aa,Chinese,1957-02-01,Malaysian,2022-04-09,HBA1C,12.76368,"(2022-04-09 00:00:00, 12.76368)",NaT,NaN,NaT
2,265,SGH,5ba30677eb2e5c1c92aa,Chinese,1957-02-01,Malaysian,2022-04-09,LDL-CHOLESTEROL,3.80000,"(2022-04-09 00:00:00, 3.8)",NaT,NaN,NaT
3,266,SGH,5ba30677eb2e5c1c92aa,Chinese,1957-02-01,Malaysian,2022-04-09,TRIGLYCERIDES,1.54000,"(2022-04-09 00:00:00, 1.54)",NaT,NaN,NaT
4,811,SGH,120e019820ccdb186e38,Malay,1961-03-01,Malaysian,2022-03-18,HBA1C,5.80000,"(2022-03-18 00:00:00, 5.8)",NaT,C19,2021-11-30
...,...,...,...,...,...,...,...,...,...,...,...,...,...
134307,23612980,SGH,3ca221647b0fa03bb51d,Chinese,1948-07-01,Singapore Citizen,2019-10-23,HBA1C,5.90000,"(2019-10-23 00:00:00, 5.9)",NaT,NaN,NaT
134308,23612990,SGH,3ca221647b0fa03bb51d,Chinese,1948-07-01,Singapore Citizen,2019-10-23,LDL-CHOLESTEROL,2.46000,"(2019-10-23 00:00:00, 2.46)",NaT,NaN,NaT
134309,23612991,SGH,3ca221647b0fa03bb51d,Chinese,1948-07-01,Singapore Citizen,2019-10-23,TRIGLYCERIDES,1.07000,"(2019-10-23 00:00:00, 1.07)",NaT,NaN,NaT
134310,23615613,SGH,54f3de0ddf8cc652f05f,Chinese,1934-01-01,Singapore Citizen,2019-10-24,HBA1C,6.40000,"(2019-10-24 00:00:00, 6.4)",NaT,NaN,NaT
134311,23615784,SGH,0766bf16627bf6ac7d84,Chinese,1932-01-01,Singapore Citizen,2019-10-24,HBA1C,5.00000,"(2019-10-24 00:00:00, 5.0)",NaT,C539,2019-10-22

In [170]:
for col in ['Specimen Received Date', 'Diabetus_diag_date', 'Cancer_diag_date']:
    diseases_data[col] = pd.to_datetime(diseases_data[col], errors = "coerce")

KeyError: 'Specimen Received Date'

In [ ]:
# Removing datas that are not necessary
def filter_before_diagnosis(test_dates diabetus_diagnosis_date, cancer_date):
    if pd.isna(test_dates) 
        return []
    cancer_date = pd.to_datetime(cancer_date, errors = 'coerce')
    diabetus_diagnosis_date = pd.to_datetime(diabetus_diagnosis_date, errors = 'coerce')
    test_dates = pd.to_datetime(test_dates, errors = 'coerce')
    
    if pd.isna(diabetus_diagnosis_date) and pd.isna(cancer_date):
    filtered_dates = []
    filtered_values = []
    
    for d,v in zip(test_dates, test_values):
        try:
            test_date = pd.to_datetime(d).date()
            
            if(pd.notna(diabetus_diagnosis_date) and test_date >= diabetus_diagnosis_date):          
                continue
            if (pd.notna(cancer_date) and test_date <= (cancer_date - timedelta(days=365))):
                continue
            filtered_dates.append(d)
            filtered_values.append(v)
            print(d,v)
        except:
            continue
    
    return filtered_dates, filtered_values



tests_cols = ['HbA1C', 'FG', 'LDL', 'TG']

for col in tests_cols:
    date_col = f"{col}_test_dates"
    value_col = f"{col}_results"
    filtered_data_col = f"{col}_filtered_dates"
    filtered_values_col = f"{col}_filtered_values"
    
    sdf[[filtered_data_col, filtered_values_col]] = sdf.apply(
        lambda row: pd.Series(
            filter_before_diagnosis(row[date_col],row[value_col], row ['Diabetic_diagnosis_date'], row['Cancer_diag_date'])), axis=1)

sdf

# Grouping of necessary data

In [163]:
diseases_data['date_result'] = list(zip(diseases_data['Specimen Received Date'], diseases_data['Result Value']))

grouped_df = diseases_data.groupby(['Patient ID','Date of Birth','Lab Resulted Order Test Description'])['date_result'].agg(list)

final_df = grouped_df.unstack('Lab Resulted Order Test Description').reset_index().rename_axis(None, axis=1)

In [164]:
final_df

,Patient ID,Date of Birth,GLUCOSE FASTING,HBA1C,LDL-CHOLESTEROL,TRIGLYCERIDES
0,0009747ecbb93007f1bc,1946-12-01,NaN,"[(2021-04-21 00:00:00, 5.5), (2021-04-21 00:00...",NaN,NaN
1,000b2a238717215130d6,1956-07-01,NaN,"[(2021-02-14 00:00:00, 6.1), (2021-02-14 00:00...","[(2021-02-14 00:00:00, 2.09)]","[(2021-02-14 00:00:00, 1.12)]"
2,000fda1a75afa6d63740,1946-08-01,NaN,"[(2022-02-11 00:00:00, 5.3), (2022-02-11 00:00...","[(2022-02-11 00:00:00, 1.53)]","[(2022-02-11 00:00:00, 0.86)]"
3,000ff5e4f012d2d0ff2f,1948-11-01,NaN,"[(2022-04-08 00:00:00, 6.6), (2022-04-08 00:00...","[(2022-04-08 00:00:00, 2.92)]","[(2022-04-08 00:00:00, 3.76)]"
4,00119dd77b81b1ac4765,1949-07-01,"[(2021-05-15 00:00:00, 7.6)]","[(2021-05-15 00:00:00, 5.3), (2021-05-15 00:00...","[(2021-05-15 00:00:00, 3.87)]","[(2021-05-15 00:00:00, 1.3)]"
...,...,...,...,...,...,...
35326,fff35f17fb32b9aa24f9,1937-08-01,NaN,"[(2020-09-12 00:00:00, 5.7), (2020-09-12 00:00...","[(2020-09-12 00:00:00, 2.6)]","[(2020-09-12 00:00:00, 2.69)]"
35327,fff88984450474529d99,1950-03-01,NaN,NaN,"[(2020-11-18 00:00:00, 1.58)]","[(2020-11-18 00:00:00, 1.05)]"
35328,fff8a85aae48426a3852,1934-04-01,NaN,"[(2020-07-17 00:00:00, 6.1), (2020-07-17 00:00...",NaN,NaN
35329,fffa31fabd695447c0d4,1938-11-01,NaN,"[(2022-08-08 00:00:00, 5.3), (2022-08-08 00:00...","[(2022-08-08 00:00:00, 3.35)]","[(2022-08-08 00:00:00, 0.73)]"
35330,fffac8cde077b98d2293,1964-06-01,NaN,"[(2019-09-10 00:00:00, 4.8), (2019-12-12 00:00...","[(2019-09-11 00:00:00, 1.51), (2019-12-12 00:0...","[(2019-09-11 00:00:00, 0.35), (2019-12-12 00:0..."

# Check for Diabetes

In [36]:
'''def check_diabetic(result_list):
        if not isinstance (result_list,list):
            return 'Not Diabetic'
        for date,value in result_list:
            try:
                if float(value) > 6.5:
                    return ['diabetic', date]
            except:
                continue
        return 'Non-diabetic'
    
final_df[["Diabetic_status", "Diabetic_diagnosis_date"]] = final_df['HBA1C'].apply(check_diabetic).apply(pd.Series)
final_df'''

,Patient ID,Date of Birth,GLUCOSE FASTING,HBA1C,LDL-CHOLESTEROL,TRIGLYCERIDES,Diabetic_status,Diabetic_diagnosis_date
0,0009747ecbb93007f1bc,1946-12-01,NaN,"[(2021-04-21 00:00:00, 5.5), (2021-04-21 00:00...",NaN,NaN,Non-diabetic,NaT
1,000b2a238717215130d6,1956-07-01,NaN,"[(2021-02-14 00:00:00, 6.1), (2021-02-14 00:00...","[(2021-02-14 00:00:00, 2.09)]","[(2021-02-14 00:00:00, 1.12)]",Non-diabetic,NaT
2,000fda1a75afa6d63740,1946-08-01,NaN,"[(2022-02-11 00:00:00, 5.3), (2022-02-11 00:00...","[(2022-02-11 00:00:00, 1.53)]","[(2022-02-11 00:00:00, 0.86)]",Non-diabetic,NaT
3,000ff5e4f012d2d0ff2f,1948-11-01,NaN,"[(2022-04-08 00:00:00, 6.6), (2022-04-08 00:00...","[(2022-04-08 00:00:00, 2.92)]","[(2022-04-08 00:00:00, 3.76)]",diabetic,2022-04-08
4,00119dd77b81b1ac4765,1949-07-01,"[(2021-05-15 00:00:00, 7.6)]","[(2021-05-15 00:00:00, 5.3), (2021-05-15 00:00...","[(2021-05-15 00:00:00, 3.87)]","[(2021-05-15 00:00:00, 1.3)]",Non-diabetic,NaT
...,...,...,...,...,...,...,...,...
35326,fff35f17fb32b9aa24f9,1937-08-01,NaN,"[(2020-09-12 00:00:00, 5.7), (2020-09-12 00:00...","[(2020-09-12 00:00:00, 2.6)]","[(2020-09-12 00:00:00, 2.69)]",Non-diabetic,NaT
35327,fff88984450474529d99,1950-03-01,NaN,NaN,"[(2020-11-18 00:00:00, 1.58)]","[(2020-11-18 00:00:00, 1.05)]",Not Diabetic,NaT
35328,fff8a85aae48426a3852,1934-04-01,NaN,"[(2020-07-17 00:00:00, 6.1), (2020-07-17 00:00...",NaN,NaN,Non-diabetic,NaT
35329,fffa31fabd695447c0d4,1938-11-01,NaN,"[(2022-08-08 00:00:00, 5.3), (2022-08-08 00:00...","[(2022-08-08 00:00:00, 3.35)]","[(2022-08-08 00:00:00, 0.73)]",Non-diabetic,NaT
35330,fffac8cde077b98d2293,1964-06-01,NaN,"[(2019-09-10 00:00:00, 4.8), (2019-12-12 00:00...","[(2019-09-11 00:00:00, 1.51), (2019-12-12 00:0...","[(2019-09-11 00:00:00, 0.35), (2019-12-12 00:0...",Non-diabetic,NaT

# Final lab data Format

In [123]:
def unpack_tuples(data_list, idx):
    if isinstance(data_list, list):
        return [item[idx] for item in data_list]
    return np.nan

final_df['HbA1C_test_dates'] = final_df['HBA1C'].apply(lambda x: unpack_tuples(x,0))
final_df['HbA1C_results'] = final_df['HBA1C'].apply(lambda x: unpack_tuples(x,1))

final_df['LDL_test_dates'] = final_df['LDL-CHOLESTEROL'].apply(lambda x: unpack_tuples(x,0))
final_df['LDL_results'] = final_df['LDL-CHOLESTEROL'].apply(lambda x: unpack_tuples(x,1))

final_df['TG_test_dates'] = final_df['TRIGLYCERIDES'].apply(lambda x: unpack_tuples(x,0))
final_df['TG_results'] = final_df['TRIGLYCERIDES'].apply(lambda x: unpack_tuples(x,1))

final_df['FG_test_dates'] = final_df['GLUCOSE FASTING'].apply(lambda x: unpack_tuples(x,0))
final_df['FG_results'] = final_df['GLUCOSE FASTING'].apply(lambda x: unpack_tuples(x,1))

final_df

,Patient ID,Date of Birth,GLUCOSE FASTING,HBA1C,LDL-CHOLESTEROL,TRIGLYCERIDES,HbA1C_test_dates,HbA1C_results,LDL_test_dates,LDL_results,TG_test_dates,TG_results,FG_test_dates,FG_results
0,0009747ecbb93007f1bc,1946-12-01,NaN,"[(2021-04-21 00:00:00, 5.5), (2021-04-21 00:00...",NaN,NaN,"[2021-04-21 00:00:00, 2021-04-21 00:00:00]","[5.5, 5.53676]",NaN,NaN,NaN,NaN,NaN,NaN
1,000b2a238717215130d6,1956-07-01,NaN,"[(2021-02-14 00:00:00, 6.1), (2021-02-14 00:00...","[(2021-02-14 00:00:00, 2.09)]","[(2021-02-14 00:00:00, 1.12)]","[2021-02-14 00:00:00, 2021-02-14 00:00:00]","[6.1, 6.085640000000001]",[2021-02-14 00:00:00],[2.09],[2021-02-14 00:00:00],[1.12],NaN,NaN
2,000fda1a75afa6d63740,1946-08-01,NaN,"[(2022-02-11 00:00:00, 5.3), (2022-02-11 00:00...","[(2022-02-11 00:00:00, 1.53)]","[(2022-02-11 00:00:00, 0.86)]","[2022-02-11 00:00:00, 2022-02-11 00:00:00]","[5.3, 5.262320000000001]",[2022-02-11 00:00:00],[1.53],[2022-02-11 00:00:00],[0.86],NaN,NaN
3,000ff5e4f012d2d0ff2f,1948-11-01,NaN,"[(2022-04-08 00:00:00, 6.6), (2022-04-08 00:00...","[(2022-04-08 00:00:00, 2.92)]","[(2022-04-08 00:00:00, 3.76)]","[2022-04-08 00:00:00, 2022-04-08 00:00:00]","[6.6, 6.63452]",[2022-04-08 00:00:00],[2.92],[2022-04-08 00:00:00],[3.76],NaN,NaN
4,00119dd77b81b1ac4765,1949-07-01,"[(2021-05-15 00:00:00, 7.6)]","[(2021-05-15 00:00:00, 5.3), (2021-05-15 00:00...","[(2021-05-15 00:00:00, 3.87)]","[(2021-05-15 00:00:00, 1.3)]","[2021-05-15 00:00:00, 2021-05-15 00:00:00]","[5.3, 5.262320000000001]",[2021-05-15 00:00:00],[3.87],[2021-05-15 00:00:00],[1.3],[2021-05-15 00:00:00],[7.6]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35326,fff35f17fb32b9aa24f9,1937-08-01,NaN,"[(2020-09-12 00:00:00, 5.7), (2020-09-12 00:00...","[(2020-09-12 00:00:00, 2.6)]","[(2020-09-12 00:00:00, 2.69)]","[2020-09-12 00:00:00, 2020-09-12 00:00:00]","[5.7, 5.719720000000001]",[2020-09-12 00:00:00],[2.6],[2020-09-12 00:00:00],[2.69],NaN,NaN
35327,fff88984450474529d99,1950-03-01,NaN,NaN,"[(2020-11-18 00:00:00, 1.58)]","[(2020-11-18 00:00:00, 1.05)]",NaN,NaN,[2020-11-18 00:00:00],[1.58],[2020-11-18 00:00:00],[1.05],NaN,NaN
35328,fff8a85aae48426a3852,1934-04-01,NaN,"[(2020-07-17 00:00:00, 6.1), (2020-07-17 00:00...",NaN,NaN,"[2020-07-17 00:00:00, 2020-07-17 00:00:00]","[6.1, 6.085640000000001]",NaN,NaN,NaN,NaN,NaN,NaN
35329,fffa31fabd695447c0d4,1938-11-01,NaN,"[(2022-08-08 00:00:00, 5.3), (2022-08-08 00:00...","[(2022-08-08 00:00:00, 3.35)]","[(2022-08-08 00:00:00, 0.73)]","[2022-08-08 00:00:00, 2022-08-08 00:00:00]","[5.3, 5.262320000000001]",[2022-08-08 00:00:00],[3.35],[2022-08-08 00:00:00],[0.73],NaN,NaN
35330,fffac8cde077b98d2293,1964-06-01,NaN,"[(2019-09-10 00:00:00, 4.8), (2019-12-12 00:00...","[(2019-09-11 00:00:00, 1.51), (2019-12-12 00:0...","[(2019-09-11 00:00:00, 0.35), (2019-12-12 00:0...","[2019-09-10 00:00:00, 2019-12-12 00:00:00]","[4.8, 5.3]","[2019-09-11 00:00:00, 2019-12-12 00:00:00]","[1.51, 1.42]","[2019-09-11 00:00:00, 2019-12-12 00:00:00]","[0.35, 0.65]",NaN,NaN

In [124]:
ddf = final_df.drop(columns=['GLUCOSE FASTING','HBA1C','LDL-CHOLESTEROL','TRIGLYCERIDES'])
ddf

,Patient ID,Date of Birth,HbA1C_test_dates,HbA1C_results,LDL_test_dates,LDL_results,TG_test_dates,TG_results,FG_test_dates,FG_results
0,0009747ecbb93007f1bc,1946-12-01,"[2021-04-21 00:00:00, 2021-04-21 00:00:00]","[5.5, 5.53676]",NaN,NaN,NaN,NaN,NaN,NaN
1,000b2a238717215130d6,1956-07-01,"[2021-02-14 00:00:00, 2021-02-14 00:00:00]","[6.1, 6.085640000000001]",[2021-02-14 00:00:00],[2.09],[2021-02-14 00:00:00],[1.12],NaN,NaN
2,000fda1a75afa6d63740,1946-08-01,"[2022-02-11 00:00:00, 2022-02-11 00:00:00]","[5.3, 5.262320000000001]",[2022-02-11 00:00:00],[1.53],[2022-02-11 00:00:00],[0.86],NaN,NaN
3,000ff5e4f012d2d0ff2f,1948-11-01,"[2022-04-08 00:00:00, 2022-04-08 00:00:00]","[6.6, 6.63452]",[2022-04-08 00:00:00],[2.92],[2022-04-08 00:00:00],[3.76],NaN,NaN
4,00119dd77b81b1ac4765,1949-07-01,"[2021-05-15 00:00:00, 2021-05-15 00:00:00]","[5.3, 5.262320000000001]",[2021-05-15 00:00:00],[3.87],[2021-05-15 00:00:00],[1.3],[2021-05-15 00:00:00],[7.6]
...,...,...,...,...,...,...,...,...,...,...
35326,fff35f17fb32b9aa24f9,1937-08-01,"[2020-09-12 00:00:00, 2020-09-12 00:00:00]","[5.7, 5.719720000000001]",[2020-09-12 00:00:00],[2.6],[2020-09-12 00:00:00],[2.69],NaN,NaN
35327,fff88984450474529d99,1950-03-01,NaN,NaN,[2020-11-18 00:00:00],[1.58],[2020-11-18 00:00:00],[1.05],NaN,NaN
35328,fff8a85aae48426a3852,1934-04-01,"[2020-07-17 00:00:00, 2020-07-17 00:00:00]","[6.1, 6.085640000000001]",NaN,NaN,NaN,NaN,NaN,NaN
35329,fffa31fabd695447c0d4,1938-11-01,"[2022-08-08 00:00:00, 2022-08-08 00:00:00]","[5.3, 5.262320000000001]",[2022-08-08 00:00:00],[3.35],[2022-08-08 00:00:00],[0.73],NaN,NaN
35330,fffac8cde077b98d2293,1964-06-01,"[2019-09-10 00:00:00, 2019-12-12 00:00:00]","[4.8, 5.3]","[2019-09-11 00:00:00, 2019-12-12 00:00:00]","[1.51, 1.42]","[2019-09-11 00:00:00, 2019-12-12 00:00:00]","[0.35, 0.65]",NaN,NaN

# save as a pickle file as 'combined_data'|

In [50]:
data_path = os.path.join(PATHS.OUTPUT_DIR, "combined_data.pkl")
data_combined.to_pickle(data_path)

In [ ]:
sdf=data_combined.sample(n=15)
sdf

In [ ]:
#sdf['HbA1C_test_dates'] = pd.to_datetime(sdf['HbA1C_test_dates']).dt.date

In [103]:
def filter_before_diagnosis(test_dates,test_values, diabetus_diagnosis_date, cancer_date):
    if not isinstance(test_dates, list) or pd.isna(diabetus_diagnosis_date) or pd.isna(cancer_date):
        return [],[]
    cancer_date = pd.to_datetime(cancer_date, errors = 'coerce')
    diabetus_diagnosis_date = pd.to_datetime(diabetus_diagnosis_date, errors = 'coerce')
    
    diabetus_diagnosis_date=pd.to_datetime(diabetus_diagnosis_date).date()
    cancer_date=pd.to_datetime(cancer_date).date()
    filtered_dates = []
    filtered_values = []
    
    for d,v in zip(test_dates, test_values):
        try:
            test_date = pd.to_datetime(d).date()
            
            if(pd.notna(diabetus_diagnosis_date) and test_date >= diabetus_diagnosis_date):          
                continue
            if (pd.notna(cancer_date) and test_date <= (cancer_date - timedelta(days=365))):
                continue
            filtered_dates.append(d)
            filtered_values.append(v)
            print(d,v)
        except:
            continue
    
    return filtered_dates, filtered_values



tests_cols = ['HbA1C', 'FG', 'LDL', 'TG']

for col in tests_cols:
    date_col = f"{col}_test_dates"
    value_col = f"{col}_results"
    filtered_data_col = f"{col}_filtered_dates"
    filtered_values_col = f"{col}_filtered_values"
    
    sdf[[filtered_data_col, filtered_values_col]] = sdf.apply(
        lambda row: pd.Series(
            filter_before_diagnosis(row[date_col],row[value_col], row ['Diabetic_diagnosis_date'], row['Cancer_diag_date'])), axis=1)

sdf

,Patient ID,Date of Birth,Diabetic_status,Diabetic_diagnosis_date,HbA1C_test_dates,HbA1C_results,LDL_test_dates,LDL_results,TG_test_dates,TG_results,...,Cancer_diag_date,Gender,HbA1C_filtered_dates,HbA1C_filtered_values,FG_filtered_dates,FG_filtered_values,LDL_filtered_dates,LDL_filtered_values,TG_filtered_dates,TG_filtered_values
1217356,8d1b21fc36cd58dfd332,1950-04-01,Not Diabetic,NaT,NaN,NaN,[2021-09-25 00:00:00],[3.76],[2021-09-25 00:00:00],[1.88],...,2021-12-27,MALE,[],[],[],[],[],[],[],[]
583795,449e298d20e1b2be437b,1948-01-01,diabetic,2021-02-02,"[2021-02-02 00:00:00, 2021-02-02 00:00:00, 202...","[6.8, 6.817480000000001, 8.3, 8.28116]",NaN,NaN,NaN,NaN,...,2019-12-09,MALE,[],[],[],[],[],[],[],[]
1539301,b13fc9d74b3059f602ac,1939-06-01,Non-diabetic,NaT,"[2020-11-21 00:00:00, 2020-11-21 00:00:00]","[5.3, 5.262320000000001]",[2020-11-21 00:00:00],[2.18],[2020-11-21 00:00:00],[2.04],...,2017-04-20,MALE,[],[],[],[],[],[],[],[]
778128,5a7d8926c6cfa4d7018d,1953-10-01,diabetic,2019-08-25,[2019-08-25 00:00:00],[8.9],[2019-08-25 00:00:00],[2.71],[2019-08-25 00:00:00],[1.37],...,2019-08-30,MALE,[],[],[],[],[],[],[],[]
1505480,adb124dc8076feed309b,1966-05-01,Non-diabetic,NaT,"[2021-02-25 00:00:00, 2021-02-25 00:00:00, 202...","[5.3, 5.262320000000001, 6.1, 6.085640000000001]",[2021-03-03 00:00:00],[0.9],[2021-03-03 00:00:00],[0.6],...,2020-01-03,MALE,[],[],[],[],[],[],[],[]
639587,4b6a9e2ce5122aa49a35,1958-09-01,diabetic,2022-11-03,"[2022-11-03 00:00:00, 2022-11-03 00:00:00, 202...","[7.9, 7.915240000000001, 7.3, 7.27488000000000...",NaN,NaN,NaN,NaN,...,2021-05-26,FEMALE,[],[],[],[],[],[],[],[]
240929,1c79f8ce2f0796c563d8,1960-05-01,diabetic,2019-11-11,"[2019-11-11 00:00:00, 2020-02-27 00:00:00, 202...","[8.7, 6.1, 6.085640000000001]","[2019-11-13 00:00:00, 2020-02-27 00:00:00]","[2.58, 2.32]","[2019-11-13 00:00:00, 2020-02-27 00:00:00]","[1.28, 1.75]",...,2019-12-23,MALE,[],[],[],[],[],[],[],[]
1774140,cc4dde9929ebee3520e6,1959-05-01,Non-diabetic,NaT,"[2020-06-25 00:00:00, 2020-06-25 00:00:00]","[5.4, 5.44528]",NaN,NaN,NaN,NaN,...,2019-11-08,FEMALE,[],[],[],[],[],[],[],[]
73584,0824e715f9305940f7f0,1949-09-01,Non-diabetic,NaT,"[2020-11-12 00:00:00, 2020-11-12 00:00:00, 202...","[6.2, 6.17712, 4.9, 4.8964]",[2020-11-12 00:00:00],[6.22],[2020-11-12 00:00:00],[3.06],...,2019-08-16,FEMALE,[],[],[],[],[],[],[],[]
949963,6e6f9d5ce93161c5bde5,1950-09-01,diabetic,2021-05-12,"[2021-05-12 00:00:00, 2021-05-12 00:00:00]","[9.2, 9.19596]",NaN,NaN,NaN,NaN,...,2021-07-15,MALE,[],[],[],[],[],[],[],[]
1965076,e103c9c34e17c3e63808,1961-01-01,Not Diabetic,NaT,NaN,NaN,NaN,NaN,[2022-04-08 00:00:00],[0.71],...,2022-02-16,FEMALE,[],[],[],[],[],[],[],[]
485830,3952cd25701bb0d06b05,1956-11-01,Non-diabetic,NaT,"[2022-02-27 00:00:00, 2022-02-27 00:00:00]","[5.5, 5.53676]",[2022-02-27 00:00:00],[1.42],[2022-02-27 00:00:00],[1.15],...,2020-01-24,MALE,[],[],[],[],[],[],[],[]
1535125,b0d009f7a645d5ad829f,1935-06-01,Not Diabetic,NaT,NaN,NaN,[2021-06-18 00:00:00],[2.17],[2021-06-18 00:00:00],[1.43],...,2021-06-25,MALE,[],[],[],[],[],[],[],[]
2059609,eb3c4edd8b038f33d335,1961-06-01,diabetic,2021-01-24,"[2021-01-24 00:00:00, 2021-01-24 00:00:00]","[7.1, 7.091920000000001]",NaN,NaN,NaN,NaN,...,2021-01-24,FEMALE,[],[],[],[],[],[],[],[]
928758,6c041d7bf73bcc01ae93,1945-02-01,diabetic,2022-05-13,"[2022-05-13 00:00:00, 2022-05-13 00:00:00, 202...","[7.2, 7.183400000000001, 5.9, 5.90268, 6.1, 6....",[2022-08-19 00:00:00],[2.15],[2022-08-19 00:00:00],[1.62],...,2019-12-24,MALE,[],[],[],[],[],[],[],[]

In [69]:
sdf=data_combined.sample(n=15)
sdf

,Patient ID,Date of Birth,Diabetic_status,Diabetic_diagnosis_date,HbA1C_test_dates,HbA1C_results,LDL_test_dates,LDL_results,TG_test_dates,TG_results,...,Cancer_diag_date,Gender,HbA1C_filtered_dates,HbA1C_filtered_values,FG_filtered_dates,FG_filtered_values,LDL_filtered_dates,LDL_filtered_values,TG_filtered_dates,TG_filtered_values
156532,1299019dd90ae20c4806,1951-01-01,diabetic,2019-11-19,"[2022-09-07 00:00:00, 2022-09-07 00:00:00, 201...","[5.9, 5.90268, 7.1]",[2019-11-06 00:00:00],[1.23],[2019-11-06 00:00:00],[1.39],...,2019-12-21,MALE,[],[],[],[],[],[],[],[]
348880,288842a72d533487daa5,1943-05-01,Non-diabetic,NaT,"[2021-06-23 00:00:00, 2021-06-23 00:00:00]","[5.9, 5.90268]","[2021-06-23 00:00:00, 2021-06-28 00:00:00]","[0.35, 0.03]","[2021-06-23 00:00:00, 2021-06-28 00:00:00]","[0.25, 2.26]",...,2022-02-21,MALE,[],[],[],[],[],[],[],[]
1889683,d86599c854c9fae61d51,1949-06-01,Non-diabetic,NaT,[2019-09-13 00:00:00],[6.3],NaN,NaN,NaN,NaN,...,2019-02-15,MALE,[],[],[],[],[],[],[],[]
2089306,ee5a1a3de22c666a7f8f,1978-01-01,Non-diabetic,NaT,"[2020-06-17 00:00:00, 2020-06-17 00:00:00]","[6.1, 6.085640000000001]",[2020-06-17 00:00:00],[2.14],[2020-06-17 00:00:00],[1.47],...,2018-09-06,FEMALE,[],[],[],[],[],[],[],[]
1615460,ba67d52b789294838d28,1963-06-01,Not Diabetic,NaT,NaN,NaN,[2020-11-25 00:00:00],[1.04],[2020-11-25 00:00:00],[0.59],...,2020-11-24,MALE,[],[],[],[],[],[],[],[]
438619,32eb12e5e0779aa92eb9,1961-12-01,Non-diabetic,NaT,"[2021-03-22 00:00:00, 2021-03-22 00:00:00]","[5.6, 5.62824]",NaN,NaN,NaN,NaN,...,2022-07-03,MALE,[],[],[],[],[],[],[],[]
1401421,a18c3c2ae3715d0e3972,1957-03-01,diabetic,2021-10-21,"[2021-10-21 00:00:00, 2021-10-21 00:00:00, 202...","[9.5, 9.470400000000001, 9.5, 9.470400000000001]",[2021-10-21 00:00:00],[3.5],[2021-10-21 00:00:00],[1.08],...,2019-09-19,FEMALE,[],[],[],[],[],[],[],[]
1384622,9fbd44d4917a66744ca7,1941-07-01,Non-diabetic,NaT,[2019-08-30 00:00:00],[5.5],NaN,NaN,NaN,NaN,...,2020-08-17,MALE,[],[],[],[],[],[],[],[]
933988,6c94b92d3bf0b45764b3,1959-11-01,diabetic,2020-04-20,"[2020-04-20 00:00:00, 2020-04-20 00:00:00]","[6.5, 6.54304]",NaN,NaN,NaN,NaN,...,2020-05-18,MALE,[],[],[],[],[],[],[],[]
1370086,9e0e4c051b94d7da9863,1945-07-01,diabetic,2020-08-31,"[2020-08-31 00:00:00, 2020-08-31 00:00:00]","[11.3, 11.3]",[2020-09-25 00:00:00],[2.79],[2020-09-25 00:00:00],[0.67],...,2022-04-08,FEMALE,[],[],[],[],[],[],[],[]
1499841,ad1266a8a6c5648faa95,1943-08-01,Non-diabetic,NaT,"[2020-12-09 00:00:00, 2020-12-09 00:00:00]","[6.4, 6.360080000000001]",NaN,NaN,NaN,NaN,...,2020-12-08,MALE,[],[],[],[],[],[],[],[]
745798,5748c6fe4dca055a4ef0,1956-05-01,Not Diabetic,NaT,NaN,NaN,[2021-01-08 00:00:00],[1.22],[2021-01-08 00:00:00],[1.1],...,2022-01-07,MALE,[],[],[],[],[],[],[],[]
2033597,e8948d3e2d456f331f8a,1946-03-01,diabetic,2021-04-30,"[2021-04-30 00:00:00, 2021-04-30 00:00:00]","[8.0, 8.006720000000001]",NaN,NaN,NaN,NaN,...,2018-08-28,MALE,[],[],[],[],[],[],[],[]
52107,05f494394bb2848c6606,1950-08-01,diabetic,2020-10-08,"[2020-10-08 00:00:00, 2020-10-08 00:00:00, 202...","[8.6, 8.555600000000002, 7.7, 7.73228]",[2020-10-09 00:00:00],[2.62],[2020-10-09 00:00:00],[3.64],...,2018-04-14,FEMALE,[],[],[],[],[],[],[],[]
561689,426968f01398aa13cfd5,1948-07-01,Non-diabetic,NaT,"[2021-12-06 00:00:00, 2021-12-06 00:00:00]","[5.6, 5.62824]",[2021-12-07 00:00:00],[1.35],[2021-12-07 00:00:00],[1.19],...,2021-12-15,MALE,[],[],[],[],[],[],[],[]

# Calculate number of available test results

# count of available test results in the window period

In [ ]:
tests_results_available = {'HBA1C_results' : 'Num_HBA1C_results', 'GLUCOSE FASTING_results' : 'Num_Fasting_glucode_results', 'LDL-CHOLESTEROL_results' : 'Num_LDL_results', 'TRIGLYCERIDES_results' : 'Num_TG_results'}

for test_col, count_col in tests_results_available.items():
    data_combined[count_col] = data_combined[test_col].apply(lambda x: len(x) if isinstance(x, list) else 0)
    
data_combined

In [ ]:
test=['Num_HBA1C_results','Num_Fasting_glucode_results','Num_LDL_results','Num_TG_results']
for tests in test:
    print(data_combined[tests].value_counts())

In [ ]:
import matplotlib.pyplot as plt

count_cols = ['Num_HBA1C_results', 'Num_Fasting_glucode_results', 'Num_LDL_results', 'Num_TG_results']
labels = ['HbA1c', 'Fasting_Glucose', 'LDL', 'TG']

'''data_combined[count_cols].plot(kind = 'bar' , figsize=(12,6), width=0.8)

plt.title('Number of Tests per Patient')
plt.xlabel('patient Index')
plt.ylabel('Number of tests')

plt.xticks(rotation=0)
plt.legend(labels=labels)
plt.tight_layout()

plt.show()'''

data_combined [count_cols].plot(kind='box', figsize=(8,6))
plt.title('Distribution of test counts')
plt.ylabel('Number of Tests')
plt.xticks([1,2,3,4], labels)
plt.grid(True)
plt.show()

# Filtering data with atleast 1 value for each lab tests in the window period

In [ ]:
def has_high_num(num): 
    return (
        num['Num_HBA1C_results'] >=1 and
        num['Num_Fasting_glucode_results'] >= 1 and
        num['Num_LDL_results'] >= 1 and
        num['Num_TG_results'] >=1)
high_num_row=pd.DataFrame()
count_cols = ['Num_HBA1C_results', 'Num_Fasting_glucode_results', 'Num_LDL_results', 'Num_TG_results']
labels = ['HBA1C_results', 'GLUCOSE FASTING_results', 'LDL-CHOLESTEROL_results', 'TRIGLYCERIDES_results']

'''for i in range (0,len(count_cols),1):
    high_num_rows = data_combined[data_combined[count_cols[i]].apply(has_high_num)]
    print(high_num_rows[[count_cols[i], labels[i]] ])'''
high_num_rows = data_combined[data_combined.apply(has_high_num, axis=1)]

high_num_rows